html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  height: 100%;
}

body {
  background: #fff;
  color: #3F3F3F;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

a {
  color: #C1761E;
  text-decoration: none;
  transition: all .35s ease;
}
a:hover, a.active {
  color: #7f4e14;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: 'AvantGardeITCbyBT-Book';
  src: local("AvantGardeITCbyBT-Book"), url(../fontAvantGardeITCbyBT-Book.eot?#iefix) format("embedded-opentype"), url(../fontAvantGardeITCbyBT-Book.woff) format("woff"), url(../fontAvantGardeITCbyBT-Book.ttf) format("truetype"), url(../fontAvantGardeITCbyBT-Book.svg#AvantGardeITCbyBT-Book) format("svg");
  font-weight: normal;
  font-style: normal;
}
h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #412401;
}
h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #75c4dc;
}

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em;
}
h2 small, h3 small {
  font-size: 65%;
}

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
h4 small, h5 small, h6 small {
  font-size: 75%;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5625em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  margin: 0 0 0.625em;
  line-height: 1.5;
}

small {
  font-size: 85%;
}

mark {
  background-color: #ffe595;
  padding: .2em;
}

hr, .intro h2::after, .intro h3::after {
  height: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #F9F9F9;
}

ul, ol {
  margin-bottom: 10px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

dl {
  margin-bottom: 20px;
}

dt, dd {
  line-height: 1.25;
}

dt {
  font-weight: bold;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25;
}

/*      table
-----------------------------------------------------------------------*/
table {
  border-bottom: 3px solid #f1bb19;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #f1bb19;
  border-right: 1px solid #f1bb19;
  line-height: 1.25;
  text-align: center;
  vertical-align: top;
}
th:last-child, td:last-child {
  border-right: none;
}

th {
  background: #cb9b0c;
  color: #3F3F3F;
}

td {
  color: #254202;
  font-size: 0.875em;
}

tr:hover {
  background-color: #D6E9C2;
}

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #989898;
  font-size: 0.8125em;
  line-height: 1.5;
  text-align: left;
}

.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}

.row::before, .wrap::before, #header::before, #main::before, #footer::before, #menu::before, .intro::before, .row::after, .wrap::after, #header::after, #main::after, #footer::after, #menu::after, .intro::after,
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.row::after, .wrap::after, #header::after, #main::after, #footer::after, #menu::after, .intro::after,
.clearfix::after {
  clear: both;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 46.9%;
}

.float-l,
.float-r {
  margin: 0 0 20px 0;
  position: relative;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.circle, #footer .menu > li .product li::before, .pro-intro article h4 em, .pro-intro article ul li::before {
  border-radius: 50%;
}

.text-left, .wrap, #main {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.breadcrumb, .pro, .pro-detail .pro-img,
.list-inline, #footer .menu, #footer .menu > li .product, #footer .menu > li .contact, #sidebar .submenu, .pro-intro article ul li,
.list-unstyled {
  list-style: none;
}

.breadcrumb, .pro, .pro-detail .pro-img,
.list-inline {
  margin-left: -5px;
}
.breadcrumb > li, .pro > li, .pro-detail .pro-img > li,
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #406947;
  border-radius: 25px;
  color: #D5E8C2;
  font-family: AnjaEliane, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.0625em;
  line-height: 1.01;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus, .btn.focus {
  background: #D5E8C2;
  color: #406947;
}
.btn:active, .btn.active {
  outline: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}
[class*="col-"]:first-child, .row [class*="col-"]:first-child {
  margin-left: 0;
}

.col-1 {
  width: 6.5%;
}

.col-2 {
  width: 15%;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.5%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.5%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74.5%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91.5%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {
  .col-sm-1 {
    width: 6.5%;
  }

  .col-sm-2 {
    width: 15%;
  }

  .col-sm-3 {
    width: 23.5%;
  }

  .col-sm-4 {
    width: 32%;
  }

  .col-sm-5 {
    width: 40.5%;
  }

  .col-sm-6 {
    width: 49%;
  }

  .col-sm-7 {
    width: 57.5%;
  }

  .col-sm-8 {
    width: 66%;
  }

  .col-sm-9 {
    width: 74.5%;
  }

  .col-sm-10 {
    width: 83%;
  }

  .col-sm-11 {
    width: 91.5%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-xs-1 {
    width: 6.5%;
  }

  .col-xs-2 {
    width: 15%;
  }

  .col-xs-3 {
    width: 23.5%;
  }

  .col-xs-4 {
    width: 32%;
  }

  .col-xs-5 {
    width: 40.5%;
  }

  .col-xs-6 {
    width: 49%;
  }

  .col-xs-7 {
    width: 57.5%;
  }

  .col-xs-8 {
    width: 66%;
  }

  .col-xs-9 {
    width: 74.5%;
  }

  .col-xs-10 {
    width: 83%;
  }

  .col-xs-11 {
    width: 91.5%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
@media (min-width: 1220px) {
  .col-lg-1 {
    width: 6.5%;
  }

  .col-lg-2 {
    width: 15%;
  }

  .col-lg-3 {
    width: 23.5%;
  }

  .col-lg-4 {
    width: 32%;
  }

  .col-lg-5 {
    width: 40.5%;
  }

  .col-lg-6 {
    width: 49%;
  }

  .col-lg-7 {
    width: 57.5%;
  }

  .col-lg-8 {
    width: 66%;
  }

  .col-lg-9 {
    width: 74.5%;
  }

  .col-lg-10 {
    width: 83%;
  }

  .col-lg-11 {
    width: 91.5%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #header, #main, #footer {
  position: relative;
  min-width: 1007px;
}

.row, .wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap, #header, #main, #footer {
    padding: 0 1%;
    width: 100%;
  }
}

#wrapper {
  min-height: 100%;
  padding-bottom: 388px;
  background: url(../images/bg.jpg) center 0 repeat-y fixed;
}

@media screen and (max-width: 1399px) {
  .wrap {
    width: 1007px;
  }
}

#main {
  z-index: 1;
}

#header {
  height: 228px;
  z-index: 2;
}
#header::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 158px;
  left: 0;
  background: #2e98b8;
}

.logo, #menu, .award {
  position: absolute;
}

.logo {
  cursor: pointer;
  cursor: hand;
  left: 0;
  top: 10px;
  z-index: 50;
  width: 340px;
  height: 135px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/logo.png) 0 0 no-repeat;
}

#menu {
  top: 158px;
  left: 0;
  width: 100%;
  z-index: 60;
}
#menu a {
  background: transparent;
  color: #fff;
  font-size: 1.375em;
  font-weight: bold;
  text-align: center;
  display: block;
  float: left;
  width: 20%;
  line-height: 70px;
}
#menu a:hover, .index #menu a:nth-of-type(1), .AboutUs #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .Inquire #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
  background: #cb9b0c;
}

.award {
  right: 0;
  top: 16px;
  z-index: 61;
}
.award li {
  background: url(../images/iconAward.png) no-repeat;
  height: 40px;
  font-size: 0.8125em;
  color: #789bb3;
  margin-left: 30px;
  padding-left: 45px;
}
.award li:nth-child(1) {
  background-position: 0 0px;
}
.award li:nth-child(2) {
  background-position: 0 -100px;
}
.award li strong {
  display: block;
  font-size: 1.15385em;
  color: #2c5871;
  margin-bottom: 5px;
}

#footer {
  background: #113a4d;
  margin-top: -298px;
  height: 298px;
  z-index: 3;
  background: #113a4d;
}
#footer::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  top: -15px;
  background: url(../images/bgFooter.png) 0 0 repeat-x;
  z-index: 2;
}
#footer .menu {
  margin-top: 35px;
}
@media screen and (max-width: 1399px) {
  #footer .menu {
    margin-left: -100px;
  }
}
#footer .menu > li {
  float: left;
  width: 33.33%;
  color: #fff;
  font-size: 1.4375em;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1399px) {
  #footer .menu > li {
    width: auto;
    margin-left: 100px;
  }
}
#footer .menu > li > em, #footer .menu > li > a > em {
  color: #a7a2a5;
  font-style: normal;
  font-size: 0.69565em;
  letter-spacing: 0;
  margin-left: 15px;
}
#footer .menu > li > a {
  display: block;
  color: #fff;
  margin-bottom: 45px;
}
#footer .menu > li > a:hover > em {
  color: #fff;
}
#footer .menu > li ul {
  margin-top: 20px;
}
#footer .menu > li ul li {
  font-size: 0.78261em;
  margin-bottom: 20px;
}
#footer .menu > li ul li a {
  color: #bfbcbe;
}
#footer .menu > li ul li a:hover {
  color: #fff;
}
#footer .menu > li .product li {
  position: relative;
  padding-left: 22px;
}
#footer .menu > li .product li::before {
  display: block;
  width: 5px;
  height: 5px;
  content: " ";
  background: #586e78;
  position: absolute;
  left: 7px;
  top: 8px;
}
#footer .menu > li .contact li {
  background: url(../images/iconContact.gif) no-repeat;
  padding-left: 38px;
  height: 23px;
  font-size: 0.6087em;
  color: #bfbcbe;
}
#footer .menu > li .contact li:nth-child(1) {
  background-position: 0 0px;
}
#footer .menu > li .contact li:nth-child(2) {
  background-position: 0 -105px;
}
#footer .menu > li .contact li:nth-child(3) {
  background-position: 0 -207px;
}
#footer .menu > li .contact li:nth-child(4) {
  background-position: 0 -310px;
}
#footer .menu > li .contact li:nth-child(1), #footer .menu > li .contact li:nth-child(2) {
  float: left;
}
#footer .menu > li .contact li:nth-child(1) {
  margin-right: 40px;
}
#footer .menu > li .contact li:nth-child(3) {
  clear: both;
}
#footer .menu > li .contact li em {
  display: none;
}
#footer .menu > li .contact li strong {
  font-size: 1.28571em;
}

.copyright {
  color: #cb9b0c;
  font-size: 0.75em;
  font-family: "AvantGardeITCbyBT-Book", "Helvetica Neue", Helvetica, Arial, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
  position: absolute;
  left: 0;
  top: 235px;
}
.copyright span {
  font-size: 1.33333em;
  letter-spacing: 0.1em;
  margin-right: 10px;
}

.goTop {
  display: none;
  transition: all .5s ease;
  opacity: .8;
  z-index: 70;
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 50px;
  height: 30px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/gotop.png) 0 0 no-repeat;
}
.goTop:hover {
  background-image: url(../images/gotop2.png);
  opacity: 1;
}

#sidebar {
  width: 245px;
  float: left;
  padding-top: 22px;
}
#sidebar h3 {
  width: 241px;
  height: 67px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/iconProducts.png) 0 0 no-repeat;
  margin: 0 auto 34px auto;
}
#sidebar h4 {
  color: #424F59;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 0 #fff;
}
#sidebar .submenu {
  margin-bottom: 45px;
}
#sidebar .submenu li {
  font-size: 0.9375em;
  margin-bottom: 15px;
}
#sidebar .submenu li a {
  color: #4D4D4D;
  position: relative;
}
#sidebar .submenu li a::before {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #fff;
  border-left-width: 6px;
  border-right-width: 4px;
  content: " ";
  margin-right: 10px;
}
#sidebar .submenu li a:hover, #sidebar .submenu li a.active {
  color: #C1761E;
}
#sidebar .submenu li a:hover::before, #sidebar .submenu li a.active::before {
  border-left-color: #C1761E;
}

#content.float-r {
  width: calc(100% - 245px - 40px);
}

.breadcrumb {
  font-size: 13.6px;
  color: #5F6E78;
  float: right;
  margin-top: 0.5625em;
}
.breadcrumb li {
  padding: 0 0 0 6px;
}
.breadcrumb a {
  color: #ACA082;
}
.breadcrumb a:hover {
  color: #C1761E;
}
.breadcrumb a::after {
  content: "/";
  margin-left: 1px;
}

.intro {
  position: relative;
  margin-bottom: 60px;
}
.intro h2 {
  color: #3D7671;
  font-size: 3.125em;
  font-family: "AvantGardeITCbyBT-Book", "Helvetica Neue", Helvetica, Arial, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
}
.intro h2::after {
  content: " ";
  display: block;
  margin-top: 10px;
}
.intro h3 {
  color: #AC6C28;
  font-size: 1.9375em;
  float: left;
  margin-top: 0.48387em;
  margin-bottom: 0.87097em;
  margin-right: 20px;
}
.intro h3::after {
  content: " ";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 70px;
}
.intro .tab {
  float: left;
  margin-top: 15px;
}
.intro .tab li {
  margin-bottom: 12px;
}
.intro .tab li a {
  display: inline-block;
  background: #EEEFEF;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ADADAD;
  color: #485754;
  font-size: 0.9375em;
  padding: 8px 14px;
}
.intro .tab li a:hover, .intro .tab li a.active {
  background: #fff;
  color: #2E98B8;
  box-shadow: -1px -1px 2px #BCB8B5;
}
.intro p {
  background: url(../images/iconQuote.png) no-repeat 0 0;
  font-size: 0.875em;
  margin-bottom: 0;
  padding-left: 45px;
}
.intro p.lead {
  background: none;
  color: #BFBCBE;
  font-size: 1.125em;
  text-align: right;
  padding: 0;
  clear: both;
}

.pro-intro article {
  float: left;
  width: 33.33%;
  position: relative;
  padding: 0 0 0 18px;
}
.pro-intro article:nth-of-type(1) {
  padding: 0;
}
.pro-intro article:last-child::after {
  display: none;
}
.pro-intro article::after {
  content: " ";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #fff;
}
.pro-intro article h4 {
  color: #3D7671;
  font-size: 1.75em;
  line-height: 70px;
}
.pro-intro article h4 em {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  float: left;
  background: #3C90A8;
  color: #fff;
  font-size: 1.07143em;
  font-style: normal;
  margin-right: 20px;
}
.pro-intro article ul {
  margin-left: 90px;
}
.pro-intro article ul li {
  font-size: 0.9375em;
  position: relative;
  margin-bottom: 15px;
  padding-left: 15px;
}
.pro-intro article ul li::before {
  display: block;
  width: 5px;
  height: 5px;
  content: " ";
  background: #808080;
  position: absolute;
  left: 0;
  top: 8px;
}
.pro-intro article ul li a {
  color: #333;
}
.pro-intro article ul li a:hover {
  color: #2e98b8;
}

.pro {
  margin-top: -30px;
  margin-left: -10px;
}
.pro li {
  margin-left: 10px;
  padding: 0;
}
.pro li figure {
  width: 235px;
  height: 118px;
  box-shadow: 2px 2px 4px #A3A3A3;
}
.pro li figure a {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.pro li figure a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s, background 0.4s;
}
.pro li figure a.zoom::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/iconZoom.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 20%;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s;
}
.pro li figure a img {
  width: 100%;
}
.pro li figure a figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  position: absolute;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  padding: 0 5px;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s;
}
.pro li figure a:hover::before {
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
}
.pro li figure a:hover.zoom::after {
  top: 0;
  opacity: 1;
}
.pro li figure a:hover figcaption {
  top: 50%;
  opacity: 1;
}

.pro-detail .pro-img {
  width: 40%;
  float: left;
  padding: 0 20px;
}
.pro-detail .pro-img li {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.pro-detail .pro-img li img {
  max-width: 100%;
  border: 3px solid #444;
}
.pro-detail .pro-content {
  width: 60%;
  color: #eee;
  float: right;
}
.pro-detail .pro-content .title {
  color: #fff;
  font-size: 2em;
  margin: 0;
}

body.fixed {
  overflow: hidden;
}

#lb-overlay {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  min-height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 1001;
  display: none;
}

#lb {
  text-align: left;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  z-index: 1000;
}
#lb .close {
  position: absolute;
  right: 10px;
  top: -10px;
  color: #fff;
  font-size: 3.125em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: none;
  border: none;
  opacity: 0.8;
  padding: 0;
}
#lb .close:hover {
  opacity: 1;
}

.lb-content {
  height: 100%;
  overflow: auto;
}
