html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #3F3F3F;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

a {
  color: #cb9b0c;
  text-decoration: none;
  transition: all .35s ease; }
  a:hover, a.active {
    color: #836408; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

img {
  vertical-align: middle; }

@font-face {
  font-family: 'AvantGardeITCbyBT-Book';
  src: local("AvantGardeITCbyBT-Book"), url(../fontAvantGardeITCbyBT-Book.eot?#iefix) format("embedded-opentype"), url(../fontAvantGardeITCbyBT-Book.woff) format("woff"), url(../fontAvantGardeITCbyBT-Book.ttf) format("truetype"), url(../fontAvantGardeITCbyBT-Book.svg#AvantGardeITCbyBT-Book) format("svg");
  font-weight: normal;
  font-style: normal; }
h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #412401; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #75c4dc; }

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }
  h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5625em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

small {
  font-size: 85%; }

mark {
  background-color: #ffe595;
  padding: .2em; }

hr, .intro h2::after {
  height: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #F9F9F9; }

ul, ol {
  margin-bottom: 10px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

dl {
  margin-bottom: 20px; }

dt, dd {
  line-height: 1.25; }

dt {
  font-weight: bold; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-bottom: 3px solid #f1bb19;
  margin-bottom: 20px; }

th, td {
  padding: 10px;
  border-bottom: 1px solid #f1bb19;
  border-right: 1px solid #f1bb19;
  line-height: 1.25;
  text-align: center;
  vertical-align: top; }
  th:last-child, td:last-child {
    border-right: none; }

th {
  background: #cb9b0c;
  color: #3F3F3F; }

td {
  color: #254202;
  font-size: 0.875em; }

tr:hover {
  background-color: #D6E9C2; }

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #989898;
  font-size: 0.8125em;
  line-height: 1.5;
  text-align: left; }

.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all; }

.row::before, .wrap::before, #header::before, #main::before, #footer::before, #menu::before, .intro::before, .row::after, .wrap::after, #header::after, #main::after, #footer::after, #menu::after, .intro::after,
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table; }
.row::after, .wrap::after, #header::after, #main::after, #footer::after, #menu::after, .intro::after,
.clearfix::after {
  clear: both; }

.full, .Products table {
  width: 100%;
  max-width: 100%; }

.half {
  width: 46.9%; }

.float-l, aside,
.float-r {
  margin: 0 0 20px 0;
  position: relative; }

.float-l, aside {
  float: left; }

.float-r {
  float: right; }

.valign-t {
  vertical-align: top; }

.valign-m {
  vertical-align: middle; }

.valign-b {
  vertical-align: bottom; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle, #footer .product dd::before, .pro-list article h4 em, .pro-list article ul li::before {
  border-radius: 50%; }

.text-left, .wrap, #main {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, figure .cover {
  text-align: center; }

.breadcrumb,
.list-inline, .pro-list article ul li, .marquee,
.list-unstyled {
  list-style: none; }

.breadcrumb,
.list-inline {
  margin-left: -5px; }
  .breadcrumb > li,
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #406947;
  border-radius: 25px;
  color: #D5E8C2;
  font-family: AnjaEliane, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.0625em;
  line-height: 1.01; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    background: #D5E8C2;
    color: #406947; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }

[class*="col-"] {
  float: left;
  margin-left: 10px; }
  [class*="col-"]:first-child, .row [class*="col-"]:first-child {
    margin-left: 0; }

.col-1 {
  width: 7.41667%; }

.col-2 {
  width: 15.83333%; }

.col-3 {
  width: 24.25%; }

.col-4 {
  width: 32.66667%; }

.col-5 {
  width: 41.08333%; }

.col-6 {
  width: 49.5%; }

.col-7 {
  width: 57.91667%; }

.col-8 {
  width: 66.33333%; }

.col-9 {
  width: 74.75%; }

.col-10 {
  width: 83.16667%; }

.col-11 {
  width: 91.58333%; }

.col-12 {
  width: 100%; }

@media (max-width: 768px) {
  .col-sm-1 {
    width: 7.41667%; }

  .col-sm-2 {
    width: 15.83333%; }

  .col-sm-3 {
    width: 24.25%; }

  .col-sm-4 {
    width: 32.66667%; }

  .col-sm-5 {
    width: 41.08333%; }

  .col-sm-6 {
    width: 49.5%; }

  .col-sm-7 {
    width: 57.91667%; }

  .col-sm-8 {
    width: 66.33333%; }

  .col-sm-9 {
    width: 74.75%; }

  .col-sm-10 {
    width: 83.16667%; }

  .col-sm-11 {
    width: 91.58333%; }

  .col-sm-12 {
    width: 100%; } }
@media (max-width: 480px) {
  .col-xs-1 {
    width: 7.41667%; }

  .col-xs-2 {
    width: 15.83333%; }

  .col-xs-3 {
    width: 24.25%; }

  .col-xs-4 {
    width: 32.66667%; }

  .col-xs-5 {
    width: 41.08333%; }

  .col-xs-6 {
    width: 49.5%; }

  .col-xs-7 {
    width: 57.91667%; }

  .col-xs-8 {
    width: 66.33333%; }

  .col-xs-9 {
    width: 74.75%; }

  .col-xs-10 {
    width: 83.16667%; }

  .col-xs-11 {
    width: 91.58333%; }

  .col-xs-12 {
    width: 100%; } }
@media (min-width: 1220px) {
  .col-lg-1 {
    width: 7.41667%; }

  .col-lg-2 {
    width: 15.83333%; }

  .col-lg-3 {
    width: 24.25%; }

  .col-lg-4 {
    width: 32.66667%; }

  .col-lg-5 {
    width: 41.08333%; }

  .col-lg-6 {
    width: 49.5%; }

  .col-lg-7 {
    width: 57.91667%; }

  .col-lg-8 {
    width: 66.33333%; }

  .col-lg-9 {
    width: 74.75%; }

  .col-lg-10 {
    width: 83.16667%; }

  .col-lg-11 {
    width: 91.58333%; }

  .col-lg-12 {
    width: 100%; } }
/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #header, #main, #footer {
  position: relative; }

.row, .wrap {
  max-width: 1400px;
  margin: 0 auto; }

.wrap, #header, #main, #footer {
  min-width: 1008px; }
  @media (max-width: 960px) {
    .wrap, #header, #main, #footer {
      padding: 0 10px;
      min-width: auto;
      width: 100%; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 388px;
  background: url(../images/bg.jpg) center 0 repeat-y fixed; }

#main {
  z-index: 1; }

#header {
  padding: 0;
  height: 228px;
  z-index: 2; }
  #header::before {
    content: " ";
    display: block;
    background: #2e98b8;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 158px;
    left: 0; }

.logo, #menu, .award {
  position: absolute; }

.logo {
  cursor: pointer;
  cursor: hand;
  left: 0;
  top: 10px;
  z-index: 50;
  width: 340px;
  height: 135px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/logo.png) 0 0 no-repeat; }

#menu {
  width: 100%;
  z-index: 60;
  top: 158px;
  left: 0; }
  #menu a {
    background: transparent;
    color: #fff;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    display: block;
    float: left;
    width: 20%; }
    #menu a:hover, .index #menu a:nth-child(1), .AboutUs #menu a:nth-child(2), .Products #menu a:nth-child(3), .Inquire #menu a:nth-child(4), .ContactUs #menu a:nth-child(5) {
      background: #cb9b0c; }

.award {
  right: 0;
  top: 16px;
  z-index: 61; }
  .award li {
    background: url(../images/iconAward.png) no-repeat;
    font-size: 0.8125em;
    color: #789bb3;
    margin-right: 30px;
    padding: 4px 0 0 45px;
    height: 40px; }
    .award li:nth-child(1) {
      background-position: 0 0px; }
    .award li:nth-child(2) {
      background-position: 0 -100px; }
    .award li strong {
      display: block;
      font-size: 1.15385em;
      color: #2c5871; }

#footer {
  background: #113a4d;
  margin-top: -298px;
  height: 298px;
  z-index: 3;
  background: #113a4d; }
  #footer::before {
    content: " ";
    display: block;
    z-index: 2;
    background: url(../images/bgFooter.png) 0 0 repeat-x;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0; }
  #footer dt {
    color: #fff;
    font-size: 1.4375em;
    letter-spacing: 0.03em;
    margin-bottom: 45px; }
    #footer dt em {
      color: #a7a2a5;
      font-style: normal;
      font-size: 0.69565em;
      letter-spacing: 0;
      margin-left: 15px; }
    #footer dt a {
      display: block;
      color: #fff; }
      #footer dt a:hover {
        color: #CB9B0C; }
        #footer dt a:hover em {
          color: #fff; }
  #footer dd {
    font-size: 1.125em;
    margin: 20px 0; }
    #footer dd a {
      color: #bfbcbe; }
      #footer dd a:hover {
        color: #fff; }
  #footer dl {
    margin-top: 35px;
    float: left; }
    #footer dl:first-child {
      width: 29%;
      margin-left: 15px; }
      @media (max-width: 960px) {
        #footer dl:first-child {
          margin-left: 0; } }
    #footer dl.product {
      width: 32%; }
    #footer dl.contact {
      width: 37%; }
  #footer .product dt, #footer .contact dt {
    margin-bottom: 0; }
  #footer .product dd {
    position: relative;
    padding-left: 22px; }
    #footer .product dd::before {
      content: " ";
      background: #586e78;
      display: block;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 8px;
      left: 7px; }
  #footer .contact dd {
    background: url(../images/iconContact.gif) no-repeat;
    padding-left: 38px;
    height: 23px;
    font-size: 0.875em;
    color: #bfbcbe; }
    #footer .contact dd:nth-child(1) {
      background-position: 0 0px; }
    #footer .contact dd:nth-child(2) {
      background-position: 0 -105px; }
    #footer .contact dd:nth-child(3) {
      background-position: 0 -207px; }
    #footer .contact dd:nth-child(4) {
      background-position: 0 -310px; }
    #footer .contact dd:nth-child(1), #footer .contact dd:nth-child(2) {
      float: left; }
    #footer .contact dd:nth-child(1) {
      margin-right: 40px; }
    #footer .contact dd:nth-child(3) {
      clear: both; }
    #footer .contact dd span {
      display: none; }
    #footer .contact dd strong {
      font-size: 1.28571em; }

.copyright {
  color: #cb9b0c;
  font-size: 0.75em;
  font-family: "AvantGardeITCbyBT-Book", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 0;
  top: 235px; }
  .copyright span {
    font-size: 1.33333em;
    letter-spacing: 0.1em;
    margin-right: 10px; }

.goTop {
  display: none;
  transition: all .5s ease;
  opacity: .8;
  z-index: 70;
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 50px;
  height: 30px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/gotop.png) 0 0 no-repeat; }
  .goTop:hover {
    background-image: url(../images/gotop2.png);
    opacity: 1; }

.breadcrumb {
  font-size: 13.6px;
  color: #5F6E78;
  float: right;
  margin-top: 0.5625em; }
  .breadcrumb li {
    padding: 0 0 0 6px; }
  .breadcrumb a {
    color: #ACA082; }
    .breadcrumb a:hover {
      color: #cb9b0c; }
    .breadcrumb a::after {
      content: "/";
      margin-left: 1px; }

.intro {
  margin-bottom: 60px; }
  .intro h2 {
    color: #3D7671;
    font-size: 3.125em;
    font-family: "AvantGardeITCbyBT-Book", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    text-align: center; }
    .intro h2::after {
      content: " ";
      display: block;
      margin-top: 10px; }
  .intro p {
    background: url(../images/iconQuote.png) no-repeat 0 0;
    font-size: 0.875em;
    margin-bottom: 0;
    padding-left: 45px; }

.pro-list article {
  float: left;
  width: 33.33%;
  position: relative; }
  .pro-list article::after {
    content: " ";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #fff; }
  .pro-list article h4 {
    color: #3D7671;
    font-size: 1.75em;
    line-height: 70px;
    letter-spacing: 0.07em; }
    .pro-list article h4 em {
      display: block;
      width: 70px;
      height: 70px;
      text-align: center;
      line-height: 70px;
      float: left;
      background: #3C90A8;
      color: #fff;
      font-size: 1.07143em;
      font-style: normal;
      margin-right: 20px; }
  .pro-list article ul {
    margin-left: 90px; }
    .pro-list article ul li {
      font-size: 0.9375em;
      position: relative;
      margin-bottom: 15px;
      padding-left: 15px; }
      .pro-list article ul li::before {
        display: block;
        width: 5px;
        height: 5px;
        content: " ";
        background: #808080;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      .pro-list article ul li a {
        color: #333; }

.title {
  background-attachment: fixed;
  width: 100%;
  height: 55px;
  font: 0/0 a;
  text-indent: -9999px;
  background: url(../images/title.png) center 0 no-repeat;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative; }
  .title::before, .title::after {
    content: '';
    background: #fae6a9;
    position: absolute;
    top: 25px;
    width: 32%;
    height: 1px; }
  .title::before {
    left: 0; }
  .title::after {
    right: 0; }
  .Products .title {
    background-position: center -140px; }
    .Products .title::before, .Products .title::after {
      width: 30%; }
  .Inquire .title {
    background-position: center -278px; }
    .Inquire .title::before, .Inquire .title::after {
      width: 23%; }
  .ContactUs .title {
    background-position: center bottom; }
    .ContactUs .title::before, .ContactUs .title::after {
      width: 29%; }

.marquee {
  width: 650px;
  height: 72px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .marquee li {
    position: absolute;
    top: -999em;
    right: 0;
    left: 0;
    color: #412401;
    font-size: 0.9375em;
    line-height: 1.5; }

aside {
  width: 25%; }
  aside a {
    color: #65590A;
    font-size: 1.0625em;
    display: block;
    margin-bottom: 20px; }
    aside a:hover, aside a.current {
      color: #cb9b0c; }

.AboutUs table {
  width: 40%;
  min-width: 400px;
  margin-left: 15px; }

.tip {
  color: #cb9b0c;
  font-size: 0.875em; }

figure {
  position: relative;
  height: 350px;
  margin-top: 20px; }
  figure:nth-child(3n+2) {
    margin-left: 0; }
  figure .cover {
    width: 100%;
    height: 140px;
    margin: 0 auto;
    overflow: hidden; }
  figure img {
    width: 100%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%); }
  figure h3 {
    color: #2e98b8;
    line-height: 1.3;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
    figure h3 small {
      display: block;
      margin-bottom: 5px; }
  figure .btn {
    margin-top: 12px;
    font-size: 0.8125em; }

.ContactUs main iframe {
  width: 62%;
  height: 320px; }
.ContactUs main dl {
  border-top: 3px solid #cb9b0c;
  border-bottom: 3px solid #cb9b0c;
  margin: 20px 0 0 20px; }
.ContactUs main dt {
  clear: left;
  border-top: 1px solid #f4c949;
  width: 60px;
  padding: 10px;
  margin-right: 10px; }
.ContactUs main dd {
  border-top: 1px solid #f4c949;
  padding: 10px;
  min-width: 257px; }
.ContactUs main dt, .ContactUs main dd {
  float: left; }
  .ContactUs main dt:nth-of-type(1), .ContactUs main dd:nth-of-type(1) {
    border-top: none; }
