@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:             '../images/index';

$content-spacing:       0;
$banner-height:         770px;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";

@import "component/classes";
// @import "component/btn";

@import "layout/layout";


// header
// ----------------------------------------------------------------------

// footer
// ----------------------------------------------------------------------


// main
// ----------------------------------------------------------------------
#main { padding: 0; }

#banner {
    width: 100%;
    margin-top: -($header-height);

    ul {
        margin-bottom:0;
        list-style: none;

        li {
            height: $banner-height;

            * { display: none; }
        }
    }
}
@for $i from 1 through 3 {
    #banner .i#{$i} {
        background: url(#{$img-path2}/banner#{$i}.jpg) no-repeat center top;
    }
}