@{
    ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

<ul class="breadcrumb">
    <li><a href="~/Index">HOME</a></li>
    <li>公司簡介</li>
</ul>

<section id="content">

    <header class="intro">
    <h2>ABOUT US</h2>
    <p>穩健、踏實、高速成長 Moderate, Hardheaded Growth</p>
    </header>

</section>

</div>