@{
    ViewBag.Title = "產品介紹";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
<div id="lb-overlay">
    <div id="lb">
        <button class="close">&times;</button>
    </div>
</div>

<script>

    $('.lb-content').appendTo('#lb');

    $('.lb-trigger').click(function(event){

        $('body').addClass('fixed');
        
        var height = $(window).height();
        var position = $(window).scrollTop();
        $("#lb-overlay").fadeIn().css({
            'height': height
        });

        var tab = $(this).attr("href");
        $(tab).fadeIn().siblings('.lb-content').hide();

        event.preventDefault();

    });

    $('#lb-overlay .close').click(function(){
        $("#lb-overlay").fadeOut();
        $('.lb-content').hide();
        $("body").removeClass("fixed");
    });
    
</script>
}

<div class="wrap">

<ul class="breadcrumb">
    <li><a href="~/Index">HOME</a></li>
    <li><a href="~/Products/list">產品介紹</a></li>
    <li>Inductance 電感</li>
</ul>

<aside id="sidebar">
    <header><h3>產品 Products</h3></header>
    <article>
        <header><h4>被動元件</h4></header>
        <ul class="submenu">
            <li><a class="active" href="">Inductance 電感(繞線式.一體式)</a></li>
            <li><a href="">Resistance 電阻/電感(積層式)</a></li>
            <li><a href="">Filter 濾波器</a></li>
            <li><a href="">Transformer 變壓器</a></li>
        </ul>
    </article>
    <article>
        <header><h4>線材組</h4></header>
        <ul class="submenu">
            <li><a href="">FFC / FPC / 碳膜FPC  排線</a></li>
            <li><a href="">POWER CABLE</a></li>
            <li><a href="">CABLE ASSEMBLY</a></li>
            <li><a href="">3C Application</a></li>
        </ul>
    </article>
    <article>
        <header><h4>Magnet 永久磁鐵</h4></header>
        <ul class="submenu">
            <li><a href="">3C Application</a></li>
            <li><a href="">電動腳踏車應用</a></li>
        </ul>
    </article>
</aside>

<section id="content" class="float-r">

    <header class="intro">
        <h3>INDUCTANCE 電感</h3>
        <ul class="tab list-inline">
            <li><a class="active" href="">SMD 繞線式功率電感</a></li>
            <li><a href="">一體式電感</a></li>
        </ul>
        <p class="lead">Multilayer chip beads and inductors</p>
    </header>

    <ul class="pro">
        <li>
            <div id="pro1" class="pro-detail lb-content">
                <ul class="pro-img">
                    <li><img src="~/Content/images/pro-test.jpg" alt=""></li>
                    <li><img src="~/Content/images/index/banner1.jpg" alt=""></li>
                </ul>
                <article class="pro-content">
                    <header><h4 class="title">一體成形大電流電感</h4></header>
                    @* 編輯器 *@
                    <div class="editor">
                        <h1>A.產品簡介</h1>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                        <ol>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                        </ol>
                        <ol>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                            <li>抗飽和：具有良好的耐交-直流疊加特性。</li>
                        </ol>
                        <p>一體化粉末合金電感器是一種將線圈預埋在金屬軟磁粉末裡的新式電感器，由於它有著自成閉合磁路結構與軟磁材料選用的多樣性，因此具備了許多與傳統電感器不同的特性，主要有以下幾個方面：</p>
                    </div>
                    @* 編輯器 end *@
                </article>
            </div>
            <figure>
                <a class="fancy-inline lb-trigger" href="#pro1">
                    <img src="~/Content/images/pro-test.jpg" alt="">
                    <figcaption>一體成形大電流電感</figcaption>
                </a>
            </figure>@* 有產品名稱、說明 *@
        </li>
        <li class="pic">
            <div id="pro2" class="pro-detail lb-content">
                <ul class="pro-img">
                    <li><img src="~/Content/images/pro-test.jpg" alt=""></li>
                    <li><img src="~/Content/images/index/banner1.jpg" alt=""></li>
                </ul>
            </div>
            <figure>
                <a class="zoom lb-trigger" href="#pro2">
                    <img src="~/Content/images/pro-test.jpg" alt="">
                </a>
            </figure>@* 沒有產品名稱、說明 *@
        </li>
    </ul>

</section>

</div>