@charset "UTF-8";
.row {
    @extend %clearfix;
    @extend %center;
}

[class*="col-"] {
    float: left;
    margin-left: $gutter;

    &:first-child, .row &:first-child {
        margin-left: 0;
    }
}

@include make-col; // 預設: md
@include media(sm) { @include make-col(sm); }
@include media(xs) { @include make-col(xs); }
@include media(lg) { @include make-col(lg); }

// .row {
//     #{enumerate('.span', 1, $cols, '')} {
//         float: left;
//         margin-left: $gutter;
//     }

// }
// @for $i from 1 through $cols {
//     .span#{$i} {
//         @include cols($i);

//         @for $j from 1 through ($i - 1) {
//             .span#{$j} {
//                 @include sub_cols($j, $i);
//             }
//         }
//     }
// }

// > :first-child,
// .row > :first-child {
//     margin-left: 0;
// }
