@charset "UTF-8";
// wrapper
$wrapper-bg:            url(#{$img-path}/bg.jpg) center 0 repeat-y fixed;
$content-spacing:       90px !default;

// header
$header-bg:             url(#{$img-path}/bgHeader.png) center 0 repeat-x;
$header-height:         228px;

$menu:                  (top, 158px), (left, 0);
$menu-height:           70px; 
$menu-link:             transparent;
$menu-link-hover:       $brand-secondary;

// footer
$footer-height:         298px !default;
$footer-bg:             #113a4d;
$goTop:                 (bottom, 10px), (right, 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

// 有最大寬度，非滿版
%center {
    max-width: $max-width;
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
// 有最小寬度(RWD時滿版,沒有最小寬度)
%contain {
    min-width: $min-width;

    @extend %clearfix;

    // RWD - 小平板以下寬度滿版
    @include media(max-960) {
        padding: 0 $gutter;
        min-width: auto;
        width: 100%;
    }
}

#wrapper {
    @extend %container;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    background: $wrapper-bg;
}

.wrap {
    @extend %container;
    @extend %center;
    @extend %contain;
    @extend .text-left;

    // @media screen and (max-width: ($max-width)-1) {
    //     width: $min-width;
    // }
    }

#header, #main, #footer {
    @extend %container;
    @extend %contain;
}

#main {
    @extend %text-left;

    z-index: z(main);
}


// header
// ----------------------------------------------------------------------
#header {
    padding: 0;
    height: $header-height;
    z-index: z(header);

    //background: $header-bg;

    &::before {
        content:" ";
        display: block;

        background: $brand-primary;
        
        @include size (100%, $menu-height);
        @include absolute(top 158px left 0);
    }
}

.logo, #menu, .award {
    position: absolute;
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    left: 0;
    top: 10px;
    z-index: z(logo);

    @include text-pic('logo.png', 340px, 135px);
}

#menu {
    width: 100%;
    z-index: z(menu);

    @extend %clearfix;
    @each $attr, $value in $menu {
        #{$attr}: $value;
    }

    a {
        background: $menu-link;
        color: #fff;
        font-size: em(22px);
        font-weight: bold;
        line-height: $menu-height;
        text-align: center;

        display: block;
        float: left;
        width: 20%;

        $selector: ();

        @each $item in $pages {
            $i: index($pages, $item);

            $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
        }

        &:hover,
        #{$selector} {
            background: $menu-link-hover;
        }
    }
}

.award {
    right:0;
    top:16px;
    z-index: z(menu)+1;

    li {
        background:url(#{$img-path}/iconAward.png) no-repeat;

        font-size: em(13px);
        color:#789bb3;

        margin-right:30px;
        padding:4px 0 0 45px;

        @for $i from 1 through 2 {
            $icon-y: 0px -100px;
            &:nth-child(#{$i}) {
                background-position: 0 nth($icon-y, $i);
            }
        }

        strong {
            display: block;

            font-size: em(15px,13px);
            color:#2c5871;
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    background: $footer-bg;
    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    background: #113a4d;

    &::before {
        content:" ";
        display: block;
        z-index: z(footer)-1;

        background: url(#{$img-path}/bgFooter.png) 0 0 repeat-x;

        @include size(100%, 15px);
        @include absolute(left 0 top -15px);
    }

    dt {
        color: #fff;
        font-size: em(23px);
        letter-spacing: 0.03em;
        margin-bottom: 45px;

        em {
            color:#a7a2a5;
            font-style: normal;
            font-size: em(16px, 23px);
            letter-spacing: 0;

            margin-left:15px;
        }
        a {
            display: block;
            color: #fff;

            &:hover {
                color: #CB9B0C;
                em { color: #fff; }
            }            
        }
    }
    
    dd {
        font-size: em(18px);
        margin: 20px 0;

        a { 
            color: #bfbcbe;

            &:hover {color: #fff; }
                }
            }

    dl {
        margin-top: 35px;
        float: left;

        &:first-child { 
            width: cp(290px); 
            margin-left: 15px;

            @include media(max-960) { margin-left: 0; }
        }
        &.product { width: cp(320px); }
        &.contact { width: cp(370px); }
    }

    .product dt, .contact dt { margin-bottom: 0; }

    .product dd {
        position: relative;
        padding-left: 22px;

        &::before {
            content: " ";
            background: #586e78;

            @include circle(5px,false,block);
            @include absolute(left 7px top 8px);
        }
    }
    .contact dd {
        background: url(#{$img-path}/iconContact.gif) no-repeat;
        padding-left: 38px;

        height: 23px;

        font-size: em(14px);
        color: #bfbcbe;

        @for $i from 1 through 4 {
            $icon-y: 0px -105px -207px -310px;
            &:nth-child(#{$i}) {
                background-position: 0 nth($icon-y, $i);
            }
        }

        &:nth-child(1),  &:nth-child(2) { float: left; }
        &:nth-child(1) { margin-right: 40px; }
        &:nth-child(3) { clear: both; }

        span { display: none }
        strong { font-size: em(18px, 14px); }            
    }
}

.copyright {
    color:$brand-secondary;
    font-size: em(12px);
    font-family: $font-family-slogan;

    position: absolute;
    left:0;
    top:235px;

    span {
        font-size: em(16px, 12px);
        letter-spacing: 0.1em;

        margin-right:10px;
    }
}

.goTop {
    display: none;
    transition: all .5s ease;
    opacity: .8;

    z-index: z(goTop);
    position: fixed;

    @each $attr, $value in $goTop {
        #{$attr}: $value;
    }
    @include text-pic('gotop.png', 50px, 30px);

    &:hover {
        background-image: url(#{$img-path}/gotop2.png);
        opacity: 1
    }
}