@{
    ViewBag.Title = "拜訪行程規劃";
    ViewBag.BodyClass = "Schedule";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<form action="" class="form-inline">
	<div class="form-group form-group-lg has-success">
		<label for="" class="control-label">
			設定拜訪日期
		</label>
		<input type="text" value="2015/01/01" class="form-control" />
	</div>
</form>

<hr>

<div class="row">

	<div class="col-md-8">
		<h4 class="pull-left">客戶名單</h4>
		<form action="" class="table-form form-inline pull-left col-xs-offset-1">
			<div class="form-group">
				<select name="" id="" class="form-control">
					<option value="">全部路線</option>
				</select>
			</div>
			<div class="form-group">
				<select name="" id="" class="form-control">
					<option value="">全部縣市</option>
				</select>
			</div>
			<div class="form-group">
				<select name="" id="" class="form-control">
					<option value="">全部鄉鎮市</option>
				</select>
			</div>
			<div class="form-group">
                <input type="text" placeholder="店名/客編" class="form-control" />
			</div>
		</form>

		<div class="clearfix"></div>
		
			<table class="table table-bordered table-striped table-condensed">
				<tr>
					<th>店名</th>
					<th>縣市</th>
					<th>鄉鎮市</th>
					<th>地址</th>
					<th class="text-center">已排定</th>
					<th class="text-center">已拜訪</th>
					<th class="text-center">今日</th>
					<th class="text-center">加入</th>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td>桃園市</td>
					<td>桃園區</td>
					<td>中山路100號</td>
					<td class="text-center"><i class="text-warning glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-success glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><i class="text-danger glyphicon glyphicon-ok"></i></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i></button></td>
				</tr>
			</table>
		
		<form action="" class="form-inline text-center">
			<ul class="pager list-inline list-unstyled">
				<li><button class="btn btn-link btn-sm">第一頁</button></li>
				<li><button class="btn btn-link btn-sm">上一頁</button></li>
				<li>
					<select name="" id="" class="form-control input-sm">
						<option value="">第1頁</option>
					</select>
				</li>
				<li><button class="btn btn-link btn-sm">下一頁</button></li>
				<li><button class="btn btn-link btn-sm">最末頁</button></li>
			</ul>
			<ul class="pagination list-inline list-unstyled">
				<li>
					<div class="input-group">
                        <input type="text" value="1" class="form-control input-sm" />
						<small class="input-group-addon"> / 32</small>
					</div>
				</li>
				<li>
					每頁
					<select name="" id="" class="form-control input-sm">
						<option value="">10</option>
					</select>
					筆
				</li>
			</ul>
		</form>
	</div>

	<hr class="hidden-md hidden-lg">

	<div class="col-md-4">
		<h4 class="pull-left">已排定行程</h4>
		<form action="" class="table-form form-inline pull-left col-xs-offset-1">
			<div class="form-group">
                <input type="text" placeholder="店名/客編" class="form-control" />
			</div>
		</form>
		<div class="clearfix"></div>
			<table class="table table-bordered table-striped table-condensed">
				<tr>
					<th>店名</th>
					<th>拜訪狀態</th>
					<th class="text-center">刪除</th>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-success">拜訪完成</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-warning">暫停</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
				<tr>
					<td>AAAAA</td>
					<td><span class="label label-default">尚未拜訪</span></td>
					<td class="text-center"><button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
			</table>
		<form action="" class="form-inline text-center">
			<ul class="pager list-inline list-unstyled">
				<li><button class="btn btn-link btn-sm">第一頁</button></li>
				<li><button class="btn btn-link btn-sm">上一頁</button></li>
				<li>
					<select name="" id="" class="form-control input-sm">
						<option value="">第1頁</option>
					</select>
				</li>
				<li><button class="btn btn-link btn-sm">下一頁</button></li>
				<li><button class="btn btn-link btn-sm">最末頁</button></li>
			</ul>
			<ul class="pagination list-inline list-unstyled">
				<li>
					<div class="input-group">
						<input type="text" value="1" class="form-control input-sm">
						<small class="input-group-addon"> / 32</small>
					</div>
				</li>
				<li>
					每頁
					<select name="" id="" class="form-control input-sm">
						<option value="">10</option>
					</select>
					筆
				</li>
			</ul>
		</form>
	</div>

</div>