@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "Inquire";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

<ul class="breadcrumb">
    <li><a href="~/Index">HOME</a></li>
    <li>線上諮詢</li>
</ul>

<section id="content">

    <header class="intro">
    <h2>INQUIRE</h2>
    <p>請填妥下表，我們會盡快與您聯繫，謝謝！</p>
    </header>

</section>

</div>