@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "Inquire";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Scripts/build/comminc.js"></script>
    <script>
        $("#InquireInfo").submit(function (event) {
            event.preventDefault();
            var company_name = $("#m_company_name").val();
            var contact_person = $("#m_contact_person").val();
            var job_title = $("#m_job_title").val();
            var tel = $("#m_tel").val();
            var tel_ex = $("#m_tel_ex").val();
            var address = $("#m_address").val();
            var email = $("#m_email").val();
            var fax = $("#m_fax").val();
            var content = $("#m_content").val();
            //checkbox 取陣列值 By each()
            var contact_type = [];
            $('.contact_type:checked').each(function () {
                contact_type.push($(this).val());
            });
            if (contact_type.length <= 0) {
                alert("請勾選'我想要...'的選項!");
                return;
            }
            var data = {
                "company_name": company_name,
                "contact_person": contact_person,
                "job_title": job_title,
                "tel": tel,
                "tel_ex": tel_ex,
                "address": address,
                "email": email,
                "fax": fax,
                "contact_type":contact_type,
                "content": content
            };

            jqPost(gb_approot + 'Inquire/sendMail', data).done(function (data, textStatus, jqXHRdata) {
                if (!data.result) {
                    alert(data.message);
                }
                else {
                    alert('申請已送出，我們會儘快與您聯絡!');
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                showAjaxError(errorThrown);
            });
        });
    </script>
}
<div class="wrap">

    <ul class="breadcrumb">
        <li><a href="~/Index">HOME</a></li>
        <li>線上諮詢</li>
    </ul>

    <section id="content">

        <header class="intro">
            <h2>INQUIRE</h2>
            <p>請留下您的聯絡資料及諮詢事項，本公司收到您的E-mail後，會立刻派專人與您連絡，如您有任何意見或建議也歡迎您來信指教。</p>
        </header>

        <div class="row">

            <article class="inquire-form">

                <h3 class="hidden">線上諮詢表單</h3>

                <form action="" id="InquireInfo">
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right">公司名稱</label>
                        <div class="col-lg-10 col-9 col-xs-8"><input type="text" class="form-element" id="m_company_name"></div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right"><em>*</em>聯絡人</label>
                        <div class="col-lg-5 col-4 col-xs-8"><input type="text" class="form-element" id="m_contact_person" required></div>
                        <label for="" class="col-lg-1 col-2 col-xs-4 text-right">職稱</label>
                        <div class="col-lg-4 col-3 col-xs-8"><input type="text" class="form-element" id="m_job_title"></div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right"><em>*</em>聯絡電話</label>
                        <div class="col-lg-5 col-4 col-xs-8"><input type="text" class="form-element" id="m_tel" required></div>
                        <label for="" class="col-lg-1 col-2 col-xs-4 text-right">分機</label>
                        <div class="col-lg-4 col-3 col-xs-8"><input type="text" class="form-element" id="m_tel_ex"></div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right"><em>*</em>地址</label>
                        <div class="col-lg-10 col-9 col-xs-8"><input type="text" class="form-element" id="m_address" required></div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right"><em>*</em>E-mail</label>
                        <div class="col-lg-5 col-3 col-xs-8"><input type="email" class="form-element" id="m_email" required></div>
                        <label for="" class="col-lg-1 col-3 col-xs-4 text-right">傳真</label>
                        <div class="col-lg-4 col-3 col-xs-8"><input type="text" class="form-element" id="m_fax"></div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right"><em>*</em>我想要</label>
                        <div class="col-lg-10 col-9 col-xs-8">
                            <label for="" class="form-element-inline"><input type="checkbox" class="contact_type" name="contact_type" value="1"> 詢價</label>
                            <label for="" class="form-element-inline"><input type="checkbox" class="contact_type" name="contact_type" value="2"> 訂購產品</label>
                            <label for="" class="form-element-inline"><input type="checkbox" class="contact_type" name="contact_type" value="3"> 留言</label>
                            <span class="hint">，請盡速回覆。</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-3 col-xs-4 text-right">諮詢內容</label>
                        <div class="col-lg-10 col-9 col-xs-8"><textarea rows="3" class="form-element" id="m_content" placeholder="(若要詢價/訂購產品，請詳細填寫產品規格樣式及數量，謝謝您！)"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-9 col-xs-8 col-lg-offset-2 col-offset-3 col-xs-offset-4">
                            <button class="btn">填寫完成，寄出</button>
                        </div>
                    </div>
                </form>

            </article>

            <aside class="inquire-pic">
                <h3 class="hidden">感謝您的填寫</h3>
                <img src="~/Content/images/Inquire/pic.jpg" alt="">
            </aside>

        </div>

    </section>

</div>