@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "Inquire";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

<ul class="breadcrumb">
    <li><a href="~/Index">HOME</a></li>
    <li>線上諮詢</li>
</ul>

<section id="content">

    <header class="intro">
    	<h2>INQUIRE</h2>
    	<p>請留下您的聯絡資料及諮詢事項，本公司收到您的E-mail後，會立刻派專人與您連絡，如您有任何意見或建議也歡迎您來信指教。</p>
    </header>

    <article class="form">

    	<header class="hidden">線上諮詢表單</header>
    	<h5 class="title">*為必填資料</h5>

    	<form action="">
    		<div class="row">
    			<label for="" class="col-1">公司名稱</label>
    			<div class="col-11"><input type="text" class="form-element"></div>
    		</div>
    		<div class="row">
    			<label for="" class="col-1">聯絡人</label>
    			<div class="col-5"><input type="text" class="form-element"></div>
    			<label for="" class="col-1">職稱</label>
    			<div class="col-5"><input type="text" class="form-element"></div>
    		</div>
    	</form>

    </article>

</section>

</div>