@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 2,
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 70,
    autoplay: 2500
});
</script>
}

<div id="banner">

    <ul>
        <li class="i1">
            <header>Organization Attitude</header>
            <h2>
                <em>Moderate Hardheaded Growth</em>
                穩健、踏實、高速成長
            </h2>
        </li>
    </ul>

</div><!-- banner //-->