@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
<link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
<script src="~/Content/js/swiper/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    autoplay: 2500,
    loop: true
});
</script>
}

<div id="banner" class="swiper-container">

    <ul class="swiper-wrapper">
        <li class="i1 swiper-slide">
            <h2>Organization Attitude</h2>
            <p>
                <em>Moderate Hardheaded Growth</em>
                穩健、踏實、高速成長
            </p>
        </li>
        <li class="i2 swiper-slide">
            <h2>Organization Attitude</h2>
            <p>
                <em>Moderate Hardheaded Growth</em>
                穩健、踏實、高速成長
            </p>
        </li>
    </ul>

</div><!-- banner //-->