@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
}
<ul class="main-menu row list-unstyled">
	<li class="col-md-4">
		<a href="~/Active/Tablet/New" class="btn btn-default btn-info btn-lg center-block">
			<i class="glyphicon glyphicon-pencil center-block"></i> 新增客戶
		</a>
	</li>
	<li class="col-md-4">
		<a href="~/Active/Tablet/Schedule" class="btn btn-default btn-warning btn-lg center-block">
			<i class="glyphicon glyphicon-calendar center-block"></i> 拜訪行程規劃
		</a>
	</li>
	<li class="col-md-4">
		<a href="~/Active/Tablet/Visit_list" class="btn btn-default btn-success btn-lg center-block">
			<i class="glyphicon glyphicon-home center-block"></i> 拜訪客戶
		</a>
	</li>
</ul>